:root {
  --clr-primary-200: #ffffff;
  --clr-primary-400: #286dec;

  --clr-neutral-100: #ffffff;
  --clr-neutral-900: #2f4641;

  --ff-primary: "Roboto", sans-serif;
  --ff-accent: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 1.6;
}
.primary-nav {
  justify-content: flex-end;
  list-style: none;
  margin: 0;
}
.primary-nav a {
  font-family: var(--ff-accent);
  border-bottom: 1px solid transparent;
  font-weight: 500;
  margin-inline: 0.7em;
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}
.primary-nav a:hover {
  border-bottom: 1px solid #fff;
  transition: border 300ms ease-in;
}
.nav-toggle {
  display: none;
  position: fixed !important;
}
.nav-toggle[aria-expanded="true"] {
  position: fixed;
  background: url(img/times.svg) center / cover no-repeat;
}

.profile {
  background: url(./img/img1.jpg) center / cover no-repeat;
}
.profile-overlay {
  z-index: 0;
  position: relative;
  color: var(--clr-neutral-100);
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.profile-pic {
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin: 1rem auto;
  max-width: 100px;
}
.profile-prof {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.skill-icon {
  margin: 1rem auto;
  width: 85px;
}
.logo {
  text-decoration: none;
  display: inline-block;
}
.logo:hover {
  border: none;
}
.header-icons-wrapper {
  margin-top: 2.5rem;
  display: flex;
  width: min(100%, 12rem);
}
.header-icons-wrapper a {
  padding: 0.1rem;
}
.header-icons {
  color: var(--clr-primary-400);
  font-size: 1.5rem;
  border: solid 0.1px #ffffff2c;
  padding: 0.5rem 1rem 0.5rem 1rem;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.header-icons:first-of-type {
  margin-right: 1.5rem;
}
.header-icons:hover {
  transition: border 0.4s;
  border: solid 0.1px var(--clr-neutral-100);
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}
h1 {
  color: var(--clr-primary-400);
  font-family: var(--ff-accent);
  border: 1px solid var(--clr-primary-400);
  padding: 0.8rem 3rem 0.8rem 3rem;
  font-weight: 400;
  max-width: max-content;
  line-height: 1.5;
  margin-bottom: 1.5em;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
h2,
h3 {
  color: var(--clr-neutral-400);
  font-family: var(--ff-accent);
  font-weight: 400;
  line-height: 1;
}
h2,
h3,
p {
  margin-bottom: 1em;
}
img {
  display: block;
  max-width: 100%;
  overflow: hidden;
  aspect-ratio: auto;
}

.img-large {
  cursor: pointer;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

section:first-of-type {
  padding: 3rem 0 3rem 0;
}
section {
  padding: 4rem 0;
}

.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}
.container:first-of-type {
  margin-top: 2rem;
}
.footer {
  background: url(./img/img2.jpg) center / cover no-repeat;
}
.footer-overlay {
  padding: 1em 0 1em 0;
  text-shadow: 2px 2px 10px #000;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.footer .logo img {
  padding: 1rem;
}
.footer-icons-wrapper {
  display: flex;
  justify-content: space-evenly;
  width: min(100%, 12rem);
  margin-inline: auto;
}

.social-icons {
  color: var(--clr-primary-400);
  font-size: 1.5rem;
  border: solid 0.1px #ffffff2c;
  padding: 0.5rem 1rem 0.5rem 1rem;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.social-icons:hover {
  transition: border 0.4s;
  border: solid 0.1px var(--clr-neutral-100);
}

.split {
  display: flex;
  flex-direction: column;
}
.flex-icons-top,
.flex-icons-bottom {
  display: flex;
  flex-direction: row;
}
.flex-icons-top > *,
.flex-icons-bottom > * {
  flex: 100%;
}

.col {
  float: left;
  width: auto;
}

.modal {
  z-index: 10;
  display: none;
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-body {
  position: relative;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.slide {
  display: none;
}
.image-slide {
  width: 50vw;
  margin: 0 auto;
}

.previews {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30vw;
}
img.modal-preview {
  cursor: pointer;
  opacity: 0.6;
}
img.active,
.modal-preview:hover {
  opacity: 1;
  width: 30vw;
}
img.hover-shadow {
  transition: 0.3s;
}
.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.modal-link-wrapper {
  padding-left: 1rem;
  display: flex;
  flex-direction: row;
}
.modal-link:first-of-type {
  margin-right: 4rem;
}
.modal-link {
  margin: 2rem 0 1rem 0;
  color: var(--clr-primary-400);
  text-decoration: none;
  font-weight: 600;
  font-size: 1.475rem;
  max-width: max-content;
}
.modal-link i {
  font-size: 2rem;
  padding-right: 1rem;
}
.close {
  background-color: hsla(0, 0%, 0%, 0.5);
  color: var(--clr-neutral-100);
  position: fixed;
  top: 2.8rem;
  left: 3rem;
  font-size: 2.625rem;
  z-index: 1000;
  cursor: pointer;
}
.close:hover,
.close:focus {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}
a.previous,
a.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 10px;
  margin-top: -50px;
  color: var(--clr-neutral-100);
  background-color: hsla(0, 0%, 0%, 0.5);
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
a.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
a.previous:hover,
a.next:hover {
  color: #000;
  background-color: rgba(255, 255, 255, 0.8);
}
@media (max-width: 55em) {
  .primary-nav {
    position: fixed;
    inset: 0 0 0 40%;
    gap: 3em;
    padding: min(30vh, 10rem) 2em;
    background: hsla(0, 0%, 15%, 0.95);
    flex-direction: column;
    z-index: 1000;
    transform: translateX(100%);
    transition: transform 250ms ease;
    justify-content: center;
    overflow: hidden;
  }
  .primary-nav[data-visible="true"] {
    transform: translateX(0%);
  }
  .nav-toggle {
    display: block;
    position: absolute;
    width: 2rem;
    aspect-ratio: 1;
    top: 3.8rem;
    background: url(img/menu.svg) center / cover no-repeat;
    border: 0;
    right: 2rem;
    z-index: 9999;
    cursor: pointer;
  }
  .profile-prof {
    display: flex;
    flex-direction: column;
  }
  .modal-link {
    font-size: 1.2rem;
  }
  .modal-link i {
    padding: 0.5rem;
    font-size: 1.5rem;
  }
  .header-links {
    margin-top: 2rem;
  }
  h1:first-of-type {
    margin-bottom: 1em;
  }
  section:first-of-type {
    padding: 1.5em 0 1.5em 0;
  }
}
@media (max-width: 40em) {
  .modal-body {
    height: 100%;
    padding: 0;
  }
  .modal-link:first-of-type {
    margin-bottom: 0;
    margin-right: 0;
  }
  .modal-link-wrapper {
    bottom: 0;
    position: fixed;
    padding: 1em;
    margin: 0;
    flex-direction: column;
  }
  .modal-link {
    font-size: 1rem;
  }
  .modal-link i {
    padding: 0.5rem;
    font-size: 1.2rem;
  }
  h1:first-of-type {
    margin-bottom: 0.5em;
  }
  section:first-of-type {
    padding: 1em 0 1em 0;
  }
  a {
    margin-top: 0.5em;
  }
  .second {
    margin-top: 0.5em;
  }
  .skill-icon {
    width: 60px;
  }
  .flex-icons-top > * + *,
  .flex-icons-bottom > * + * {
    margin-left: 1em;
  }
}
@media (min-width: 40em) {
  .split {
    flex-direction: row;
  }

  .split > * {
    flex-basis: 100%;
  }

  .split > * + * {
    margin-left: 2em;
  }
}
.flex {
  display: flex;
  gap: var(--gap, 2rem);
}
.bg-light {
  background-color: var(--clr-primary-200);
}

.bg-primary {
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-400);
}

.bg-dark {
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-900);
}

.bg-primary h2,
.bg-dark h2 {
  color: var(--clr-primary-200);
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
